@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins font ^ from google fonts */

#home-container {
    background: linear-gradient(to bottom, #3069a5, #a8ccec);


}

/* Home page text intro stylings */

/* Font sizes done in tailwind class for responsiveness */
#home-intro-text {
    font-family: Poppins;

}

#home-title {

    font-weight: bold;
    color: white;

}

#home-sub-text {
    margin-top: 1rem;
    color: white;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-weight: 500;

}

#home-button {
    background-color: white;
    color: #3069a5;
    padding: 1rem;
    width: 14rem;
    border-radius: 2rem;
    text-align: left;
    padding-left: 2rem;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;


}

#home-button:hover {
    transform: scale(1.1);
}

#arrow {
    margin-left: 3rem;
}