.blue-text {
    color: #3971d2;
}

#open-role-card {

    width: 370px;
    height: 275px;
    padding: 1rem;

    background: linear-gradient(#f4faff, #f4faff) padding-box,
        linear-gradient(to right, #5de0e6, #0078a6) border-box;
    border-radius: 2rem;
    border: 3px solid transparent;
}

.role-apply-btn {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #5de0e6, #0078a6) border-box;
    border-radius: 2rem;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    padding: 0.5rem;
    transition: transform 0.5s ease;


}

.role-apply-btn:hover {
    transform: scale(1.2);

}